.container{
    width: 50%;
    margin: auto;
    text-align: center;
    
}
img{
    width: 100%;
    height: 300px;
}
hr{
    margin: 20px;
}
p{
    color: gray;
}
a{
    color: white;
    padding: 1% 2%;
    border-style: none;
    width: 100px;
    height: 30px;
}
.link{
    margin-top: 30px;
}